<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.memory.dao.CommentMapper">
    <resultMap id="commentMap" type="Comment">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="imageId" jdbcType="BIGINT" property="imageId"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="created" jdbcType="TIMESTAMP" property="created"/>
        <association property="creater" resultMap="userMap"/>
    </resultMap>

    <resultMap id="userMap" type="User">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="openId" jdbcType="VARCHAR" property="openId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="gender" jdbcType="VARCHAR" property="gender"/>
        <result column="created" jdbcType="TIMESTAMP" property="created"/>
    </resultMap>
</mapper>